@media screen and (max-width: 1200px) {
  /* ======= Initial ======= */
  header {
    top: 0;
    position: sticky;
    transition: 0.6s;
    background-color: transparent;
    z-index: 100;
  }

  header.sticky {
    transition: 0.6;
    background-color: #fff;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .desktop-nav {
    gap: 2rem;
    margin: auto;
    display: flex;
    max-width: 1400px;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
  }

  .desktop-nav.sticky {
    transition: 0.6;
    background-color: #fff;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .mobile-nav {
    gap: 2rem;
    margin: auto;
    display: none;
    max-width: 1400px;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
  }

  section {
    margin: auto;
    overflow: hidden;
    max-width: 1400px;
    padding: 2rem 2rem;
    position: relative;
    align-items: center;
    box-sizing: border-box;
  }

  /* h1 */
  .title {
    font-size: 3.5rem;
    text-align: center;
  }

  .tags {
    font-size: 1.4rem;
    text-align: center;
  }

  .welcome-text {
    font-size: 2rem;
  }

  .header-title {
    font-size: 3rem;
  }
  /* h1 */

  /* h2 */
  .logo-title {
    font-size: 2.5rem;
    text-align: center;
    color: #181818;
  }

  .card-title {
    font-size: 2rem;
    text-align: center;
    color: #181818;
  }

  .card-description {
    font-size: 1.2rem;
  }
  /* h2 */

  /* h3 */
  .header-jobs {
    font-size: 1.4rem;
  }
  /* h3 */

  /* h4 */
  .link {
    font-size: 1.4rem;
    text-align: center;
    color: #181818;
    text-decoration-line: none;
  }

  p {
    font-size: 1.3rem;
  }
  /* h4 */

  /* Header */
  .logo-title {
    text-decoration-line: none;
  }

  .nav-links ul {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    list-style: none;
  }

  .nav-links .btn {
    font-size: 30px;
    cursor: pointer;
  }
  /* Header */

  #hero {
    min-height: 92vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  #about {
    min-height: 92vh;
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 4rem;
  }

  #experience {
    min-height: 92vh;
    position: relative;
  }

  #education {
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 6rem;
  }

  #working {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  #projects {
    padding-top: 6rem;
    min-height: 100vh;
    position: relative;
  }

  #contact {
    min-height: 92vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
  }

  .hero-container {
    gap: 2rem;
    margin: auto;
    overflow: hidden;
  }

  .hero-image {
    gap: 2rem;
    margin: auto;
    overflow: hidden;
  }

  .hero-image img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
  }

  .welcome-text,
  .header-title,
  .header-jobs,
  .hero-description {
    padding: 0.2rem 1rem;
  }

  .dw-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
  }

  .about-content {
    margin: auto;
  }

  .about-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
  }

  .container {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem 1rem;
  }

  .container-card {
    margin: 1rem auto;
    width: 380px;
    height: max-content;
    border-radius: 2rem;
    padding: 1rem 1rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }

  .container-card img {
    width: 50px;
    height: 50px;
  }

  .about-description {
    padding: 0 5rem;
  }

  #experience .title-container {
    margin-top: 2rem;
  }

  .experience-container {
    height: 100%;
    align-items: center;
    margin: auto;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }

  .experience-card {
    gap: 2rem;
    width: 400px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
  }

  .sub-title {
    margin: 1rem auto;
  }

  .list-experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  article {
    display: flex;
    text-align: start;
    gap: 0.5rem;
  }

  article .icon {
    cursor: default;
  }

  #working .title-container {
    margin: 1rem 1rem;
  }

  .working-container {
    padding: 1rem;
    align-items: center;
    margin: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .working {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .working .line {
    padding: 0 0.7rem;
  }

  .working .line div {
    width: 2px;
    height: 100%;
    background: #f1f1f1;
    position: relative;
  }

  .working-info p {
    margin: 1rem 0 1rem;
  }

  /* The dot on the line */
  .working .line div:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #f1f1f1;
    border-radius: 50%;
    position: absolute;
    left: -6px;
  }

  .working-job {
    margin-left: 1.2rem;
    line-height: 2rem;
    list-style-position: outside;
  }

  #projects .title-container {
    margin-top: 2rem;
  }

  .education-container {
    height: 100%;
    align-items: center;
    margin: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .education-card {
    gap: 2rem;
    width: 400px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 2rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
  }

  .list-education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .project-container {
    margin: auto;
    height: 60vh;
    display: flex;
    margin-top: 4rem;
    position: relative;
    align-items: center;
    margin-bottom: 4rem;
  }

  .card-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .badge {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: max-content;
    gap: 2rem;
  }

  .badge-icon {
    align-items: center;
    margin: auto;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 100px;

    text-align: center;
  }

  .flutter {
    background-color: blue;
  }

  .c_plus {
    background-color: red;
  }

  .nextjs {
    background-color: red;
  }

  .typescript {
    background-color: red;
  }

  .swiper {
    width: 100%;
    height: 450px;
    padding: 5rem;
  }

  .swiper-wrapper .swiper-slide {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.2rem solid;
    border-color: rgb(163, 163, 163);
    height: max-content;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .swiper-slide img {
    display: block;
    border-radius: 100%;
    margin: auto;
    border: rgb(53, 53, 53) 0.1rem solid;

    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .card-button {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .project-btn {
    padding: 1rem;
    width: max-content;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    border-color: rgb(163, 163, 163);
  }

  .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    height: 7px;
    width: 30px;
    border-radius: 25px;
    background: #777;
  }

  .contact-container {
    position: relative;
    margin: auto;
    padding: 2rem;
    width: 600px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15);
  }

  form {
    position: relative;
    margin: auto;
  }

  .profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .message {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .input-name h2,
  .input-email h2,
  .message h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .contact-container input {
    outline: none;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    transition: 0.3s ease;
  }

  textarea {
    font-size: 20px;
    width: 100%;
    height: 10vh;
  }

  .contact-container button {
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #69275c;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: 1px solid #69275c;
  }

  footer {
    gap: 2rem;
    margin: auto;
    color: #181818;
    max-width: 1400px;
    text-align: center;
    padding: 2rem 2rem;
  }

  .copyright {
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* ======= Initial ======= */

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    padding: 1rem 2rem;
    display: flex;
  }

  section {
    margin: auto;
    overflow: hidden;
    max-width: 1400px;
    padding: 2rem 2rem;
    position: relative;
    align-items: center;
    box-sizing: border-box;
  }

  .welcome-text,
  .header-title,
  .header-jobs,
  .title-container,
  .hero-description,
  .working-container,
  .project-container {
    padding: 0.2rem 0rem;
  }

  /* h1 */
  .title {
    font-size: 3.5rem;
    text-align: center;
  }

  .tags {
    font-size: 1.4rem;
    text-align: center;
  }

  .welcome-text {
    font-size: 2rem;
  }

  .header-title {
    font-size: 3rem;
  }
  /* h1 */

  /* h2 */
  .logo-title {
    font-size: 2.5rem;
    text-align: center;
    color: #181818;
  }

  .card-title {
    font-size: 2rem;
    text-align: center;
    color: #181818;
  }

  .card-description {
    font-size: 1.2rem;
  }
  /* h2 */

  /* h3 */
  .header-jobs {
    font-size: 1.4rem;
  }
  /* h3 */

  /* h4 */
  .link {
    font-size: 1.4rem;
    text-align: center;
    color: #181818;
    text-decoration-line: none;
  }

  p {
    font-size: 1.3rem;
  }
  /* h4 */

  /* Header */
  .logo-title {
    text-decoration-line: none;
  }

  .nav-links ul {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    list-style: none;
  }

  .nav-links .btn {
    font-size: 30px;
    cursor: pointer;
  }
  /* Header */

  #hero {
    min-height: 92vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #about {
    min-height: 92vh;
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 4rem;
  }

  #education {
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 6rem;
  }

  .hero-container {
    gap: 2rem;
    margin: auto;
    overflow: hidden;
  }

  .hero-image {
    order: -1;
    gap: 2rem;
    margin: auto;
    overflow: hidden;
  }

  .hero-image img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
  }

  .dw-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
  }

  .about-content {
    margin: auto;
  }

  .about-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
  }

  .container {
    width: max-content;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
  }

  .container-card {
    margin: 1rem auto;
    width: 360px;
    height: max-content;
    border-radius: 2rem;
    padding: 1rem 1rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }

  .container-card img {
    width: 50px;
    height: 50px;
  }

  .about-description {
    padding: 0 4rem;
  }

  #education .title-container {
    margin-top: 2rem;
  }

  #projects .title-container {
    margin-top: 2rem;
  }

  #experience .title-container {
    margin-top: 2rem;
  }

  .experience-container {
    width: 100%;
    padding: 0;
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .experience-card {
    gap: 2rem;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
  }

  .sub-title {
    margin: 1rem auto;
  }

  .list-experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  article {
    margin: auto;
    width: 100%;
  }
  article .icon {
    cursor: default;
  }

  .education-container {
    padding: 0;
    order: 1;
    height: 100%;
    align-items: center;
    margin: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .education-card {
    gap: 2rem;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
  }

  .list-education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .project-container {
    margin: auto;
    height: 60vh;
    display: flex;
    margin-top: 4rem;
    position: relative;
    align-items: center;
    margin-bottom: 4rem;
  }

  .card-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }


  .badge {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: max-content;
    gap: 2rem;
  }

  .badge-icon {
    align-items: center;
    margin: auto;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 100px;

    text-align: center;
  }

  .flutter {
    background-color: blue;
  }

  .c_plus {
    background-color: red;
  }

  .nextjs {
    background-color: red;
  }

  .typescript {
    background-color: red;
  }

  .swiper {
    width: 100%;
    height: 450px;
    padding: 5rem;
  }

  .swiper-wrapper .swiper-slide {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.2rem solid;
    border-color: rgb(163, 163, 163);
    height: 380px;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .swiper-slide img {
    display: block;
    border-radius: 100%;
    margin: auto;
    border: rgb(53, 53, 53) 0.1rem solid;

    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .card-button {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .project-btn {
    padding: 1rem;
    width: max-content;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    border-color: rgb(163, 163, 163);
  }

  .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    height: 7px;
    width: 30px;
    border-radius: 25px;
    background: #777;
  }

  .contact-container {
    position: relative;
    margin: auto;
    padding: 2rem;
    width: 600px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15);
  }

  form {
    position: relative;
    margin: auto;
  }

  .profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .message {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .input-name h2,
  .input-email h2,
  .message h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .contact-container input {
    outline: none;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    transition: 0.3s ease;
  }

  textarea {
    font-size: 20px;
    width: 100%;
    height: 10vh;
  }

  .contact-container button {
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #69275c;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: 1px solid #69275c;
  }
}

@media (min-width: 501px) and (max-width: 767px) {
  /* ======= Initial ======= */
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    padding: 1rem 2rem;
    display: flex;
  }

  section {
    margin: auto;
    overflow: hidden;
    max-width: 1400px;
    padding: 2rem 2rem;
    position: relative;
    align-items: center;
    box-sizing: border-box;
  }

  /* h1 */
  .title {
    font-size: 3.5rem;
    text-align: center;
  }

  .tags {
    font-size: 1.4rem;
    text-align: center;
  }

  .welcome-text {
    font-size: 2rem;
  }

  .header-title {
    font-size: 3rem;
  }
  /* h1 */

  /* h2 */
  .logo-title {
    font-size: 2.5rem;
    text-align: center;
    color: #181818;
  }

  .card-title {
    font-size: 2rem;
    text-align: center;
    color: #181818;
  }

  .card-description {
    font-size: 1.2rem;
  }
  /* h2 */

  /* h3 */
  .header-jobs {
    font-size: 1.4rem;
  }
  /* h3 */

  /* h4 */
  .link {
    font-size: 1.4rem;
    text-align: center;
    color: #181818;
    text-decoration-line: none;
  }

  p {
    font-size: 1.3rem;
  }
  /* h4 */

  /* Header */
  .logo-title {
    text-decoration-line: none;
  }

  .nav-links ul {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    list-style: none;
  }

  .nav-links .btn {
    font-size: 30px;
    cursor: pointer;
  }
  /* Header */

  #hero {
    min-height: 92vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #about {
    min-height: 92vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 6rem;
  }

  #education {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 6rem;
  }

  .hero-container {
    gap: 2rem;
    margin: auto;
    overflow: hidden;
  }

  .hero-image {
    order: -1;
    gap: 2rem;
    margin: auto;
    overflow: hidden;
  }

  .hero-image img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
  }

  .dw-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
  }

  .about-content {
    margin: auto;
  }

  .about-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .container-card {
    margin: 1rem auto;
    width: 380px;
    height: max-content;
    border-radius: 2rem;
    padding: 1rem 1rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }

  .container-card img {
    width: 50px;
    height: 50px;
  }

  .about-description {
    padding: 0 2rem;
  }

  .experience-container {
    width: max-content;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .experience-card {
    gap: 2rem;
    width: 380px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
  }

  .list-experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .education-container {
    order: 1;
  }

  .education-card {
    gap: 2rem;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
  }

  .contact-container {
    position: relative;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    width: 600px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15);
  }

  .card-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .project-container {
    padding: 0;
  }

  .badge {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: max-content;
    gap: 2rem;
  }

  .badge-icon {
    align-items: center;
    margin: auto;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 100px;

    text-align: center;
  }

  .flutter {
    background-color: blue;
  }

  .c_plus {
    background-color: red;
  }

  .nextjs {
    background-color: red;
  }

  .typescript {
    background-color: red;
  }

  .swiper {
    width: 400px;
    height: 450px;
    padding: 5rem;
  }

  .swiper-wrapper .swiper-slide {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.2rem solid;
    border-color: rgb(163, 163, 163);
    height: max-content;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .swiper-slide img {
    display: block;
    border-radius: 100%;
    margin: auto;
    border: rgb(53, 53, 53) 0.1rem solid;

    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .card-button {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .project-btn {
    padding: 1rem;
    width: max-content;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    border-color: rgb(163, 163, 163);
  }

  .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    height: 7px;
    width: 30px;
    border-radius: 25px;
    background: #777;
  }

  .contact-container {
    position: relative;
    margin: auto;
    padding: 2rem;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  /* ======= Initial ======= */
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    padding: 1rem 2rem;
    display: flex;
  }

  section {
    margin: auto;
    overflow: hidden;
    max-width: 1400px;
    padding: 2rem 2rem;
    position: relative;
    align-items: center;
    box-sizing: border-box;
  }

  #education {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0;
  }

  /* h1 */
  .title {
    font-size: 3.5rem;
    text-align: center;
  }

  .tags {
    font-size: 1.4rem;
    text-align: center;
  }

  .welcome-text {
    font-size: 2rem;
  }

  .header-title {
    font-size: 3rem;
  }
  /* h1 */

  /* h2 */
  .logo-title {
    font-size: 2.5rem;
    text-align: center;
    color: #181818;
  }

  .card-title {
    font-size: 2rem;
    text-align: center;
    color: #181818;
  }

  .card-description {
    font-weight: 400;
    font-size: 1.2rem;
  }
  /* h2 */

  /* h3 */
  .header-jobs {
    font-weight: 500;
    font-size: 1.4rem;
  }
  /* h3 */

  /* h4 */
  .link {
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #181818;
    text-decoration-line: none;
  }

  p {
    font-weight: 400;
    font-size: 1.3rem;
  }
  /* h4 */

  /* Header */
  .logo-title {
    text-decoration-line: none;
  }

  .nav-links ul {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    list-style: none;
  }

  .nav-links .btn {
    font-size: 30px;
    cursor: pointer;
  }
  /* Header */

  #hero {
    gap: 1rem;
    min-height: 92vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #about {
    min-height: 92vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 6rem;
  }

  .hero-container {
    gap: 2rem;
    margin: auto;
    overflow: hidden;
  }

  .hero-image {
    order: -1;
    gap: 2rem;
    margin: auto;
    overflow: hidden;
  }

  .hero-image img {
    width: 100%;
    height: 300px;
    border-radius: 100%;
  }

  .welcome-text,
  .header-title,
  .header-jobs,
  .title-container,
  .hero-description,
  .project-container {
    padding: 0.2rem 0rem;
  }

  .dw-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
  }

  .about-content {
    margin: auto;
  }

  .about-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }

  .container-card {
    margin: 1rem auto;
    width: 320px;
    height: max-content;
    border-radius: 2rem;
    padding: 1rem 1rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }

  .container-card img {
    width: 50px;
    height: 50px;
  }

  .about-description {
    padding: 0 1rem;
  }

  #experience .title-container {
    margin-top: 2rem;
  }

  .experience-container {
    width: max-content;
    padding: 0;
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .experience-card {
    gap: 2rem;
    width: 320px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
  }

  .list-experience {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .sub-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin: auto;
  }

  article {
    /* margin: auto; */
    display: flex;
    text-align: start;
    gap: 0.5rem;
  }

  article .icon {
    cursor: default;
  }

  .education-container {
    order: 1;
    height: 100%;
    align-items: center;
    margin: auto;
    padding: 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .education-card {
    gap: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 0;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
  }

  .list-education {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .card-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #working {
    justify-content: center;
    width: 100%;
  }
  

  .working-info {
  }

  .working-container {
    padding: 0;
  }

  .project-container {
    padding: 0;
  }

  .badge {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: max-content;
    gap: 2rem;
  }

  .badge-icon {
    align-items: center;
    margin: auto;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 100px;

    text-align: center;
  }

  .flutter {
    background-color: blue;
  }

  .c_plus {
    background-color: red;
  }

  .nextjs {
    background-color: red;
  }

  .typescript {
    background-color: red;
  }

  .swiper {
    width: 100%;
    height: max-content;
    padding: 5rem;
  }

  .swiper-wrapper {
    height: max-content;
  }

  .swiper-wrapper .swiper-slide {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.2rem solid;
    border-color: rgb(163, 163, 163);
    height: max-content;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .swiper-slide img {
    display: block;
    border-radius: 100%;
    margin: auto;
    border: rgb(53, 53, 53) 0.1rem solid;

    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .card-button {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .project-btn {
    padding: 1rem;
    width: max-content;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    border-color: rgb(163, 163, 163);
  }

  .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    height: 7px;
    width: 30px;
    border-radius: 25px;
    background: #777;
  }

  .contact-container {
    position: relative;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15);
  }

  .profile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
