@media screen and (max-width: 1200px) {
  .desktop-nav {
    gap: 2rem;
    margin: auto;
    display: flex;
    max-width: 1000px;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
  }
  /* section {
    gap: 2rem;
    margin: auto;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    max-width: 1400px;
    padding: 8rem 2rem;
  }
  .container {
    max-width: 1400px;
    margin: auto;
    padding: 2rem 2rem;
    height: 100%;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }
  .hero {
    gap: 2rem;
    margin: auto;
    min-height: 100vh;
    overflow: hidden;
    max-width: 1400px;
    padding: 2rem 2rem;
  } */

  .hero-image {
    width: 50%;
  }

  .hero-section {
    width: 100%;
  }

  .home-container {
    display: flex;
    flex-direction: column;
  }

  .hero-image {
    order: -1;
  }

  .about-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .section__pic-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  .section__pic-container img {
    margin: auto;
    border-radius: 100%;
    width: 50%;
  }

  .experience-details-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 25rem;
    height: 100%;
  }

  .list-experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
  }

  .project-details-container {
    width: 16rem;
  }
  
  .project-details-container img{
    width: 70%;
    margin: auto;
  }

  .swiper {
    width: 100%;
    gap: 2rem;
    margin: 1rem;
  }
}

@media screen and (max-width: 768px) {

  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .container {
    padding: 1rem 1rem;
  }
  
  .home-container{
    height: 100%;
  }

  .hero-image {
    width: 70%;
  }

  .section__pic-container img {
    border-radius: 100%;
    width: 60%;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
  }

  .about-container {
    height: 100%;
  }

  .experience-content,
  .education-content{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

   .experience-details-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
  }

  .project-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 468px) {
  .header-title {
    font-size: 3rem;
  }

  .jobs {
    font-family: "Roboto", sans-serif;
    margin-bottom: 1rem;
    color: #181818;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 4rem;
    position: relative;
  }

  .jobs:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-left: 2px solid #4070f4;
    animation: animate 4s steps(12) infinite;
  }

  .sub-title {
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 1.5rem;
  }
  .program {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }

  .ability {
    font-family: "Courier Prime", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }

  img {
    width: 80%;
  }

  .container {
    margin: auto;
    padding: 1rem 1rem;
  }

  .section__pic-container {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .section__pic-container img {
    border-radius: 100%;
    width: 100%;
  }

  .container-about {
    display: contents;
  }

  .about-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .experience-content {
    overflow: hidden;
    display: contents;
    padding: 2rem 2rem;
  }

  .sub-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  .experience-details-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 0.2rem;
    width: 100%;
    height: 100%;
  }

  .list-experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }

  .list-projects {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }

  .project-content {
    display: contents;
  }

  .project-img {
    border-radius: 2rem;
    width: 100%;
    padding: 2rem 2rem;
  }

  .contact-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
  }
}
